LOCAL_UID=1000
LOCAL_GID=1000

# Host-side bind mount sources
HOST_ROS2_WS_AI_ROOT=.
HOST_PX4_DIR=../PX4-Autopilot
CONTAINER_PX4_COMPAT_DIR=/home/shravan/Projects/PX4-Autopilot
HOST_UNDERLAY_WS=../ros2_ws
HOST_UNDERLAY_INSTALL=../ros2_ws/install
HOST_XRCE_INSTALL=../px4_ros_uxrce_dds_ws/install
CONTAINER_UNDERLAY_WS=/home/shravan/Projects/ros2_ws

# Linux desktop only. Leave blank for headless use.
DISPLAY=
NVIDIA_VISIBLE_DEVICES=all
NVIDIA_DRIVER_CAPABILITIES=all
